<!-- <link rel="stylesheet" href="style.css"> -->

<%- include('partials/header') %>
    <h2>This is Default index.ejs</h2>
    <p>
        <% data.forEach(ele=> { %>
            <%= ele %>
        <% }) %>
    </p>
<%- include('partials/footer') %>
